adf-csr961/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-csr961"
		},
		"adftest_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0202-195510-ujd6538b"
		},
		"trigger1_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/19944c1e-2e5d-4745-8be0-d24900c7dc73/resourceGroups/Project1/providers/Microsoft.Storage/storageAccounts/adlscsr961"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/XlsContainsActualInName')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FOLER_NAME": {
						"type": "String"
					},
					"FILE_NAME": {
						"type": "String"
					}
				},
				"folder": {
					"name": "AzStorage_CSV_and_AzSQL/MultipleFiles1FolderToAzSQL"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FILE_NAME",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().FOLER_NAME",
							"type": "Expression"
						},
						"container": "raw"
					},
					"sheetIndex": 0,
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "RestauranteCodigo",
						"type": "String"
					},
					{
						"name": "RestauranteCompañia",
						"type": "String"
					},
					{
						"name": "Analisis (Fechas)Dia de la semana (Nº)",
						"type": "String"
					},
					{
						"name": "RestaurantePais",
						"type": "String"
					},
					{
						"name": "Analisis (Fechas)Fecha",
						"type": "String"
					},
					{
						"name": "Canal ventaCanal venta (Natural detalle/HD)",
						"type": "String"
					},
					{
						"name": "Venta__Neta___Real_",
						"type": "String"
					},
					{
						"name": "SumNº_Tickets",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dynamicLastYearExcelNameSQLtoEXCEL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sheet_name": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "BUCLE FOR"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "@dataset().sheet_name",
						"type": "Expression"
					},
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": "VENTAS_PASADAS",
						"container": "raw"
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adftest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-6141914541424251.11.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "akvtest",
							"type": "LinkedServiceReference"
						},
						"secretName": "TokenAdfCsr96Braveant",
						"secretVersion": "ab146db71438497aaa3d0a044c3f1ddd"
					},
					"existingClusterId": "[parameters('adftest_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "API - BEARER - DATA",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/raw/blobs/VENTAS_PASADAS",
					"blobPathEndsWith": "xlsx",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('trigger1_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzStorage_CSV_and_AzSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CsvEmploy_To_AzSql_RawE_EMPLEADOS_CSV",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Excels To AzSQL",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "EMPLEADO",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EMPLEADO",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "\tSUELDO",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SUELDO",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "\t\tDEPARTAMENTO",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DEPARTAMENTO",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "\tPROJECT_MANAGER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PROJECT_MANAGER",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzStorage_Csv_Employ",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzSql_Raw_E_EMPLEADOS_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Excels To AzSQL",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "VENTAS_PASADAS",
									"wildcardFileName": "Actual*.xlsx",
									"enablePartitionDiscovery": false
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "XlsContainsActualInName",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Get Metadat FOLDERS Childitem",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "DROP E_ACTUAL_LAST_YEAR",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "XlsContainsActualInName",
								"type": "DatasetReference",
								"parameters": {
									"FOLER_NAME": {
										"value": "@variables('folder_name')",
										"type": "Expression"
									},
									"FILE_NAME": {
										"value": "@variables('Excel_name')",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "XlsContainsActualInName",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "1 BUCLE POR CADA CARPETA",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadat FOLDERS Childitem",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadat FOLDERS Childitem').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@or(\n        contains(  item().name   , 'ACTUAL'   ) \n        ,contains(  item().name   , 'PASADA'   ) \n   ) \n\n",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Folder Name",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "folder_name",
													"value": {
														"value": "@if(\n    or(\n        startswith(     item().name,    'VENTAS'), \n        contains(       item().name,    'VENTA'     )\n        )\n        ,   item().name\n        ,   null\n\n    )",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Copy data1",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Folder Name",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ExcelSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFolderPath": {
																"value": "@variables('folder_name')",
																"type": "Expression"
															},
															"wildcardFileName": "Actual*.xlsx",
															"enablePartitionDiscovery": false
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false,
														"tableOption": "autoCreate",
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "XlsContainsActualInName",
														"type": "DatasetReference",
														"parameters": {
															"FOLER_NAME": {
																"value": "@variables('folder_name')",
																"type": "Expression"
															},
															"FILE_NAME": "Actual Q1.xlsx"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "AzSql_RAW_DATA",
														"type": "DatasetReference",
														"parameters": {
															"table_name": "E_LAST_YEAR_XLSX"
														}
													}
												]
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "DROP E_ACTUAL_LAST_YEAR",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "DROP TABLE IF EXISTS E_LAST_YEAR_XLSX"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Servidor": {
						"type": "string",
						"defaultValue": "caldata"
					},
					"adlscsr961": {
						"type": "string",
						"defaultValue": "storage_account"
					}
				},
				"variables": {
					"table_names": {
						"type": "String",
						"defaultValue": "raw_data"
					},
					"folder_name": {
						"type": "String"
					},
					"Excel_name": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/XlsContainsActualInName')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BucleVariablesParamExpressions')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "ForEach2",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupExcelSheetTable').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LookupExcelTable",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat(    'SELECT *  \nFROM ' , item().TABLE_NAME )",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"isolationLevel": "ReadCommitted",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "AzSql_Raw_E_EMPLEADOS_CSV",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "AzSql_RAW_DATA",
											"type": "DatasetReference",
											"parameters": {
												"table_name": {
													"value": "@item().TABLE_NAME",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "AzStorage_Csv_Dynamic",
											"type": "DatasetReference",
											"parameters": {
												"csv_name": {
													"value": "item().csv_name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "LookupExcelSheetTable",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "TRUNCATE TABLE",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT \r\n    'Actual 2023_Q1.xlsx' AS EXCEL_NAME\r\n    ,\r\n    'Actual 2023_Q1.csv' AS CSV_NAME\r\n    ,\r\n    'DS - Ventas Ticket (MKT)' AS SHEET_NAME\r\n    ,\r\n    'E_LAST_YEAR_Q1_XLSX'   AS TABLE_NAME\r\nUNION ALL\r\nSELECT \r\n    'Actual 2023_Q2.xlsx' AS EXCEL_NAME\r\n    ,\r\n    'Actual 2023_Q1.csv' AS CSV_NAME\r\n    ,\r\n    'DS - Ventas Ticket (MKT)' AS SHEET_NAME\r\n    ,\r\n    'E_LAST_YEAR_Q2_XLSX'   AS TABLE_NAME\r\n\r\n\r\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzSql_Raw_E_EMPLEADOS_CSV",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "TRUNCATE TABLE",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "\nDECLARE @tableName NVARCHAR(MAX)\nDECLARE @sql NVARCHAR(MAX)\nDECLARE cur CURSOR FOR\n------------------------------- CUIDADO !! SE BORRARÁN\n\t\t SELECT 'E_BUDGET_VENTAS_SALA_XLSX' AS TABLE_NAMES\n\t\tUNION ALL \n\t\tSELECT 'E_BUDGET_VENTAS_SALA_dsdsdadfawdewaeeXLSX'\n------------------------------- CUIDADO !!\nOPEN cur\nFETCH NEXT FROM cur INTO @tableName\nWHILE @@FETCH_STATUS = 0\nBEGIN\n    SET @sql = 'IF EXISTS (SELECT * FROM sys.tables WHERE name = '''\n\t\t+ @tableName\n\t\t\t+ '''AND type = ''U'')\n\tBEGIN\n\t\tDROP TABLE IF EXISTS\n\t' + QUOTENAME(@tableName)\n\t+ ' END\nELSE\n\tBEGIN\n\t\tPRINT ''The table does not exist.'';\n\tEND\n'\n\t--SELECT @sql\n    EXEC sp_executesql @sql\n    FETCH NEXT FROM cur INTO @tableName\nEND\n\nCLOSE cur\nDEALLOCATE cur\n\n"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "ForEach2",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupExcelSheetTable",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupExcelSheetTable').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "ExcelToSQL-E_LAST_YEAR",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "dynamicLastYearExcelNameSQLtoEXCEL",
											"type": "DatasetReference",
											"parameters": {
												"sheet_name": {
													"value": "@item().SHEET_NAME",
													"type": "Expression"
												},
												"filename": {
													"value": "@item().filename   ",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "AzSql_RAW_DATA",
											"type": "DatasetReference",
											"parameters": {
												"table_name": {
													"value": "@item().TABLE_NAME",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ARR_FILE_NAMES": {
						"type": "array",
						"defaultValue": [
							"Actual 2023_Q1.xlsx",
							"Actual 2023_Q2.xlsx"
						]
					},
					"ARR_TABLE_NAMES": {
						"type": "array",
						"defaultValue": [
							"FIFA",
							"E_EMPLEADOS_CSV"
						]
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dynamicLastYearExcelNameSQLtoEXCEL')]"
			]
		}
	]
}