adf-csr961/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-csr961"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureFunction1_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'AzureFunction1'"
		},
		"AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase1'"
		},
		"FileServer1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'FileServer1'"
		},
		"RestService1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'RestService1'"
		},
		"adls_auth_service_principal_servicePrincipalCredential": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalCredential' of 'adls_auth_service_principal'"
		},
		"AzureFunction1_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://afproject1.azurewebsites.net"
		},
		"FileServer1_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "\\\\CANARIO96"
		},
		"FileServer1_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "canario96\\34609"
		},
		"GIT_CSV_LINK_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://raw.githubusercontent.com/CARSIRO96/DATA_TRAIN/master/CSVs/empleados.csv"
		},
		"Http_data_GitHub_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://raw.githubusercontent.com/CARSIRO96/DATA_TRAIN/master/CSVs/empleados.csv"
		},
		"RestService1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.dropboxapi.com/"
		},
		"RestService1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "carsiro96.ittools@hotmail.com"
		},
		"adls_auth_by_managed_identity_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://adlscsr961.blob.core.windows.net/"
		},
		"adls_auth_service_principal_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://adlscsr961.blob.core.windows.net/"
		},
		"adls_auth_service_principal_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "af68d0a0-cc2f-4750-b6c7-17aa0d0315f6"
		},
		"adls_auth_service_principal_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "de7f60dd-68cb-415c-b186-4270e90cce23"
		},
		"akvtest_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://SQLServerCTPKeys.vault.azure.net/"
		},
		"trigger_by_blow_raw_VENTAS_PASADAS_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/19944c1e-2e5d-4745-8be0-d24900c7dc73/resourceGroups/Project1/providers/Microsoft.Storage/storageAccounts/adlscsr961"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/API - BEARER - DATA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://www.dropbox.com/oauth2/authorize?client_id=kpamkpg3iqd0u8z&response_type=code"
						}
					},
					{
						"name": "Web2",
						"type": "WebActivity",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"url": "https://api.dropboxapi.com/oauth2/token",
							"body": "grant_type=client_credentials&client_id=kpamkpg3iqd0u8z&client_secret=0ojfgtz2y1qtnr5"
						}
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Web3",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json",
								"Authorization": "Bearer sl.BwWyU081-LBF-mjS_ycbRnaT1EX33A7D0a70y7J00osEwUPbz2s-Zuzb2YJnDOhG0a-MlpdGM62KGmAVZLpSBrrxdrco13empB3_dakTK0-0CMW-RoyJ4lOZlSIzZfzmI5rAA8OkkR9R4BZWO7kJ"
							},
							"url": "https://api.dropboxapi.com/2/files/list_folder",
							"body": {
								"include_deleted": false,
								"include_has_explicit_shared_members": false,
								"include_media_info": false,
								"include_mounted_folders": true,
								"include_non_downloadable_files": true,
								"path": "/DATA",
								"recursive": false
							}
						}
					},
					{
						"name": "Get File_name in teh 2nd vaue of the responses",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Web3",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "j_response_api_dropbxV_list_files",
							"value": {
								"value": "@activity('Web3').output.entries[1].name",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Get count files in the folder",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get File_name in teh 2nd vaue of the responses",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "n_num_elements",
							"value": {
								"value": "@length(\n    activity('Web3').output.entries\n    )",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"j_response_api_dropbxV_list_files": {
						"type": "String"
					},
					"n_num_elements": {
						"type": "Integer"
					},
					"AF_RESPONSE": {
						"type": "String"
					},
					"Array_Response_AF": {
						"type": "Array"
					},
					"OUTPUT": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureFunction1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('AzureFunction1_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('AzureFunction1_functionKey')]"
					},
					"authentication": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FileServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('FileServer1_properties_typeProperties_host')]",
					"userId": "[parameters('FileServer1_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('FileServer1_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GIT_CSV_LINK')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('GIT_CSV_LINK_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Http_data_GitHub')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('Http_data_GitHub_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('RestService1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('RestService1_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls_auth_by_managed_identity')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('adls_auth_by_managed_identity_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "StorageV2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls_auth_service_principal')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('adls_auth_service_principal_properties_typeProperties_serviceEndpoint')]",
					"tenant": "[parameters('adls_auth_service_principal_properties_typeProperties_tenant')]",
					"servicePrincipalId": "[parameters('adls_auth_service_principal_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredentialType": "ServicePrincipalKey",
					"servicePrincipalCredential": {
						"type": "SecureString",
						"value": "[parameters('adls_auth_service_principal_servicePrincipalCredential')]"
					},
					"accountKind": "StorageV2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/akvtest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('akvtest_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger_by_blow_raw_VENTAS_PASADAS')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/raw/blobs/VENTAS_PASADAS",
					"blobPathEndsWith": ".xlsx",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('trigger_by_blow_raw_VENTAS_PASADAS_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/API AUTH')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "WebSystemManagedIdentity",
						"type": "WebActivity",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {
								"x-ms-version": "2017-11-09",
								"xs-ms-blob-type": "BlockBlob"
							},
							"url": "https://adlscsr961.blob.core.windows.net/raw/_API_DATA/employer.csv",
							"authentication": {
								"type": "MSI",
								"resource": "https://storage.azure.com"
							}
						}
					},
					{
						"name": "WebServicePrincipal",
						"type": "WebActivity",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "WebSystemManagedIdentity",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {
								"x-ms-version": "2017-11-09",
								"xs-ms-blob-type": "BlockBlob"
							},
							"url": "https://adlscsr961.blob.core.windows.net/raw/_API_DATA/employer.csv",
							"authentication": {
								"type": "ServicePrincipal",
								"userTenant": "af68d0a0-cc2f-4750-b6c7-17aa0d0315f6",
								"username": "de7f60dd-68cb-415c-b186-4270e90cce23",
								"resource": "https://storage.azure.com",
								"password": {
									"type": "AzureKeyVaultSecret",
									"store": {
										"referenceName": "akvtest",
										"type": "LinkedServiceReference"
									},
									"secretName": "appadfskey",
									"secretVersion": "e201f092a8b2416cbb828625178ff690"
								}
							}
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "WebServicePrincipal",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "OUTPUT",
							"value": {
								"value": "@string(activity('WebServicePrincipal').output)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"OUTPUT": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/akvtest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZURE FUNCTIONS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Azure Function1",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "bing_api_getNews_politics",
							"method": "POST",
							"headers": {},
							"body": "{\n  'name':'HOLAA'\n}"
						},
						"linkedServiceName": {
							"referenceName": "AzureFunction1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Azure Function1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "AF_RESPONSE",
							"value": {
								"value": "@activity('Azure Function1').output.Response",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"AF_RESPONSE": {
						"type": "String"
					},
					"Array_Response_AF": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureFunction1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzSql_RAW_DATA')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"table_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "AzSQL_DATABASES"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Nombre",
						"type": "varchar"
					},
					{
						"name": "NombreCompleto",
						"type": "varchar"
					},
					{
						"name": "Club",
						"type": "varchar"
					},
					{
						"name": "Liga",
						"type": "varchar"
					},
					{
						"name": "FechaNacimiento",
						"type": "date"
					},
					{
						"name": "AlturaCM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PesoKG",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Nacionalidad",
						"type": "varchar"
					},
					{
						"name": "ValorEuropa",
						"type": "float",
						"precision": 15
					},
					{
						"name": "PiePreferido",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().table_name",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzSql_Raw_E_EMPLEADOS_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV PROCESSS-EMPLOY"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "EMPLEADO",
						"type": "varchar"
					},
					{
						"name": "SUELDO",
						"type": "varchar"
					},
					{
						"name": "FIELD3",
						"type": "date"
					},
					{
						"name": "DEPARTAMENTO",
						"type": "varchar"
					},
					{
						"name": "PROJECT MANAGER",
						"type": "varchar"
					},
					{
						"name": "FIELD6",
						"type": "varchar"
					},
					{
						"name": "FIELD7",
						"type": "varchar"
					},
					{
						"name": "FIELD8",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "E_EMPLEADOS_CSV"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzStorage_Csv_Dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"csv_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "BUCLE FOR"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().csv_name",
							"type": "Expression"
						},
						"folderPath": " VENTAS_PASADAS",
						"container": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "EMPLEADO",
						"type": "String"
					},
					{
						"name": "\tSUELDO",
						"type": "String"
					},
					{
						"name": "\t\tDEPARTAMENTO",
						"type": "String"
					},
					{
						"name": "\tPROJECT_MANAGER",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzStorage_Csv_Employ')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV PROCESSS-EMPLOY"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "empleados.csv",
						"container": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "EMPLEADO",
						"type": "String"
					},
					{
						"name": "\tSUELDO",
						"type": "String"
					},
					{
						"name": "\t\tDEPARTAMENTO",
						"type": "String"
					},
					{
						"name": "\tPROJECT_MANAGER",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Budget2024_SheetVentas_Auto')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BUCLE FOR"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Ventas_Auto",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Budget Actual.xlsx",
						"folderPath": "BUDGET_SALES",
						"container": "raw"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "BK",
						"type": "String"
					},
					{
						"name": "Restaurante",
						"type": "String"
					},
					{
						"name": "Compañía",
						"type": "String"
					},
					{
						"name": "01/01/2024",
						"type": "String"
					},
					{
						"name": "02/01/2024",
						"type": "String"
					},
					{
						"name": "03/01/2024",
						"type": "String"
					},
					{
						"name": "04/01/2024",
						"type": "String"
					},
					{
						"name": "05/01/2024",
						"type": "String"
					},
					{
						"name": "06/01/2024",
						"type": "String"
					},
					{
						"name": "07/01/2024",
						"type": "String"
					},
					{
						"name": "08/01/2024",
						"type": "String"
					},
					{
						"name": "09/01/2024",
						"type": "String"
					},
					{
						"name": "10/01/2024",
						"type": "String"
					},
					{
						"name": "11/01/2024",
						"type": "String"
					},
					{
						"name": "12/01/2024",
						"type": "String"
					},
					{
						"name": "13/01/2024",
						"type": "String"
					},
					{
						"name": "14/01/2024",
						"type": "String"
					},
					{
						"name": "15/01/2024",
						"type": "String"
					},
					{
						"name": "16/01/2024",
						"type": "String"
					},
					{
						"name": "17/01/2024",
						"type": "String"
					},
					{
						"name": "18/01/2024",
						"type": "String"
					},
					{
						"name": "19/01/2024",
						"type": "String"
					},
					{
						"name": "20/01/2024",
						"type": "String"
					},
					{
						"name": "21/01/2024",
						"type": "String"
					},
					{
						"name": "22/01/2024",
						"type": "String"
					},
					{
						"name": "23/01/2024",
						"type": "String"
					},
					{
						"name": "24/01/2024",
						"type": "String"
					},
					{
						"name": "25/01/2024",
						"type": "String"
					},
					{
						"name": "26/01/2024",
						"type": "String"
					},
					{
						"name": "27/01/2024",
						"type": "String"
					},
					{
						"name": "28/01/2024",
						"type": "String"
					},
					{
						"name": "29/01/2024",
						"type": "String"
					},
					{
						"name": "30/01/2024",
						"type": "String"
					},
					{
						"name": "31/01/2024",
						"type": "String"
					},
					{
						"name": "01/02/2024",
						"type": "String"
					},
					{
						"name": "02/02/2024",
						"type": "String"
					},
					{
						"name": "03/02/2024",
						"type": "String"
					},
					{
						"name": "04/02/2024",
						"type": "String"
					},
					{
						"name": "05/02/2024",
						"type": "String"
					},
					{
						"name": "06/02/2024",
						"type": "String"
					},
					{
						"name": "07/02/2024",
						"type": "String"
					},
					{
						"name": "08/02/2024",
						"type": "String"
					},
					{
						"name": "09/02/2024",
						"type": "String"
					},
					{
						"name": "10/02/2024",
						"type": "String"
					},
					{
						"name": "11/02/2024",
						"type": "String"
					},
					{
						"name": "12/02/2024",
						"type": "String"
					},
					{
						"name": "13/02/2024",
						"type": "String"
					},
					{
						"name": "14/02/2024",
						"type": "String"
					},
					{
						"name": "15/02/2024",
						"type": "String"
					},
					{
						"name": "16/02/2024",
						"type": "String"
					},
					{
						"name": "17/02/2024",
						"type": "String"
					},
					{
						"name": "18/02/2024",
						"type": "String"
					},
					{
						"name": "19/02/2024",
						"type": "String"
					},
					{
						"name": "20/02/2024",
						"type": "String"
					},
					{
						"name": "21/02/2024",
						"type": "String"
					},
					{
						"name": "22/02/2024",
						"type": "String"
					},
					{
						"name": "23/02/2024",
						"type": "String"
					},
					{
						"name": "24/02/2024",
						"type": "String"
					},
					{
						"name": "25/02/2024",
						"type": "String"
					},
					{
						"name": "26/02/2024",
						"type": "String"
					},
					{
						"name": "27/02/2024",
						"type": "String"
					},
					{
						"name": "28/02/2024",
						"type": "String"
					},
					{
						"name": "29/02/2024",
						"type": "String"
					},
					{
						"name": "01/03/2024",
						"type": "String"
					},
					{
						"name": "02/03/2024",
						"type": "String"
					},
					{
						"name": "03/03/2024",
						"type": "String"
					},
					{
						"name": "04/03/2024",
						"type": "String"
					},
					{
						"name": "05/03/2024",
						"type": "String"
					},
					{
						"name": "06/03/2024",
						"type": "String"
					},
					{
						"name": "07/03/2024",
						"type": "String"
					},
					{
						"name": "08/03/2024",
						"type": "String"
					},
					{
						"name": "09/03/2024",
						"type": "String"
					},
					{
						"name": "10/03/2024",
						"type": "String"
					},
					{
						"name": "11/03/2024",
						"type": "String"
					},
					{
						"name": "12/03/2024",
						"type": "String"
					},
					{
						"name": "13/03/2024",
						"type": "String"
					},
					{
						"name": "14/03/2024",
						"type": "String"
					},
					{
						"name": "15/03/2024",
						"type": "String"
					},
					{
						"name": "16/03/2024",
						"type": "String"
					},
					{
						"name": "17/03/2024",
						"type": "String"
					},
					{
						"name": "18/03/2024",
						"type": "String"
					},
					{
						"name": "19/03/2024",
						"type": "String"
					},
					{
						"name": "20/03/2024",
						"type": "String"
					},
					{
						"name": "21/03/2024",
						"type": "String"
					},
					{
						"name": "22/03/2024",
						"type": "String"
					},
					{
						"name": "23/03/2024",
						"type": "String"
					},
					{
						"name": "24/03/2024",
						"type": "String"
					},
					{
						"name": "25/03/2024",
						"type": "String"
					},
					{
						"name": "26/03/2024",
						"type": "String"
					},
					{
						"name": "27/03/2024",
						"type": "String"
					},
					{
						"name": "28/03/2024",
						"type": "String"
					},
					{
						"name": "29/03/2024",
						"type": "String"
					},
					{
						"name": "30/03/2024",
						"type": "String"
					},
					{
						"name": "31/03/2024",
						"type": "String"
					},
					{
						"name": "01/04/2024",
						"type": "String"
					},
					{
						"name": "02/04/2024",
						"type": "String"
					},
					{
						"name": "03/04/2024",
						"type": "String"
					},
					{
						"name": "04/04/2024",
						"type": "String"
					},
					{
						"name": "05/04/2024",
						"type": "String"
					},
					{
						"name": "06/04/2024",
						"type": "String"
					},
					{
						"name": "07/04/2024",
						"type": "String"
					},
					{
						"name": "08/04/2024",
						"type": "String"
					},
					{
						"name": "09/04/2024",
						"type": "String"
					},
					{
						"name": "10/04/2024",
						"type": "String"
					},
					{
						"name": "11/04/2024",
						"type": "String"
					},
					{
						"name": "12/04/2024",
						"type": "String"
					},
					{
						"name": "13/04/2024",
						"type": "String"
					},
					{
						"name": "14/04/2024",
						"type": "String"
					},
					{
						"name": "15/04/2024",
						"type": "String"
					},
					{
						"name": "16/04/2024",
						"type": "String"
					},
					{
						"name": "17/04/2024",
						"type": "String"
					},
					{
						"name": "18/04/2024",
						"type": "String"
					},
					{
						"name": "19/04/2024",
						"type": "String"
					},
					{
						"name": "20/04/2024",
						"type": "String"
					},
					{
						"name": "21/04/2024",
						"type": "String"
					},
					{
						"name": "22/04/2024",
						"type": "String"
					},
					{
						"name": "23/04/2024",
						"type": "String"
					},
					{
						"name": "24/04/2024",
						"type": "String"
					},
					{
						"name": "25/04/2024",
						"type": "String"
					},
					{
						"name": "26/04/2024",
						"type": "String"
					},
					{
						"name": "27/04/2024",
						"type": "String"
					},
					{
						"name": "28/04/2024",
						"type": "String"
					},
					{
						"name": "29/04/2024",
						"type": "String"
					},
					{
						"name": "30/04/2024",
						"type": "String"
					},
					{
						"name": "01/05/2024",
						"type": "String"
					},
					{
						"name": "02/05/2024",
						"type": "String"
					},
					{
						"name": "03/05/2024",
						"type": "String"
					},
					{
						"name": "04/05/2024",
						"type": "String"
					},
					{
						"name": "05/05/2024",
						"type": "String"
					},
					{
						"name": "06/05/2024",
						"type": "String"
					},
					{
						"name": "07/05/2024",
						"type": "String"
					},
					{
						"name": "08/05/2024",
						"type": "String"
					},
					{
						"name": "09/05/2024",
						"type": "String"
					},
					{
						"name": "10/05/2024",
						"type": "String"
					},
					{
						"name": "11/05/2024",
						"type": "String"
					},
					{
						"name": "12/05/2024",
						"type": "String"
					},
					{
						"name": "13/05/2024",
						"type": "String"
					},
					{
						"name": "14/05/2024",
						"type": "String"
					},
					{
						"name": "15/05/2024",
						"type": "String"
					},
					{
						"name": "16/05/2024",
						"type": "String"
					},
					{
						"name": "17/05/2024",
						"type": "String"
					},
					{
						"name": "18/05/2024",
						"type": "String"
					},
					{
						"name": "19/05/2024",
						"type": "String"
					},
					{
						"name": "20/05/2024",
						"type": "String"
					},
					{
						"name": "21/05/2024",
						"type": "String"
					},
					{
						"name": "22/05/2024",
						"type": "String"
					},
					{
						"name": "23/05/2024",
						"type": "String"
					},
					{
						"name": "24/05/2024",
						"type": "String"
					},
					{
						"name": "25/05/2024",
						"type": "String"
					},
					{
						"name": "26/05/2024",
						"type": "String"
					},
					{
						"name": "27/05/2024",
						"type": "String"
					},
					{
						"name": "28/05/2024",
						"type": "String"
					},
					{
						"name": "29/05/2024",
						"type": "String"
					},
					{
						"name": "30/05/2024",
						"type": "String"
					},
					{
						"name": "31/05/2024",
						"type": "String"
					},
					{
						"name": "01/06/2024",
						"type": "String"
					},
					{
						"name": "02/06/2024",
						"type": "String"
					},
					{
						"name": "03/06/2024",
						"type": "String"
					},
					{
						"name": "04/06/2024",
						"type": "String"
					},
					{
						"name": "05/06/2024",
						"type": "String"
					},
					{
						"name": "06/06/2024",
						"type": "String"
					},
					{
						"name": "07/06/2024",
						"type": "String"
					},
					{
						"name": "08/06/2024",
						"type": "String"
					},
					{
						"name": "09/06/2024",
						"type": "String"
					},
					{
						"name": "10/06/2024",
						"type": "String"
					},
					{
						"name": "11/06/2024",
						"type": "String"
					},
					{
						"name": "12/06/2024",
						"type": "String"
					},
					{
						"name": "13/06/2024",
						"type": "String"
					},
					{
						"name": "14/06/2024",
						"type": "String"
					},
					{
						"name": "15/06/2024",
						"type": "String"
					},
					{
						"name": "16/06/2024",
						"type": "String"
					},
					{
						"name": "17/06/2024",
						"type": "String"
					},
					{
						"name": "18/06/2024",
						"type": "String"
					},
					{
						"name": "19/06/2024",
						"type": "String"
					},
					{
						"name": "20/06/2024",
						"type": "String"
					},
					{
						"name": "21/06/2024",
						"type": "String"
					},
					{
						"name": "22/06/2024",
						"type": "String"
					},
					{
						"name": "23/06/2024",
						"type": "String"
					},
					{
						"name": "24/06/2024",
						"type": "String"
					},
					{
						"name": "25/06/2024",
						"type": "String"
					},
					{
						"name": "26/06/2024",
						"type": "String"
					},
					{
						"name": "27/06/2024",
						"type": "String"
					},
					{
						"name": "28/06/2024",
						"type": "String"
					},
					{
						"name": "29/06/2024",
						"type": "String"
					},
					{
						"name": "30/06/2024",
						"type": "String"
					},
					{
						"name": "01/07/2024",
						"type": "String"
					},
					{
						"name": "02/07/2024",
						"type": "String"
					},
					{
						"name": "03/07/2024",
						"type": "String"
					},
					{
						"name": "04/07/2024",
						"type": "String"
					},
					{
						"name": "05/07/2024",
						"type": "String"
					},
					{
						"name": "06/07/2024",
						"type": "String"
					},
					{
						"name": "07/07/2024",
						"type": "String"
					},
					{
						"name": "08/07/2024",
						"type": "String"
					},
					{
						"name": "09/07/2024",
						"type": "String"
					},
					{
						"name": "10/07/2024",
						"type": "String"
					},
					{
						"name": "11/07/2024",
						"type": "String"
					},
					{
						"name": "12/07/2024",
						"type": "String"
					},
					{
						"name": "13/07/2024",
						"type": "String"
					},
					{
						"name": "14/07/2024",
						"type": "String"
					},
					{
						"name": "15/07/2024",
						"type": "String"
					},
					{
						"name": "16/07/2024",
						"type": "String"
					},
					{
						"name": "17/07/2024",
						"type": "String"
					},
					{
						"name": "18/07/2024",
						"type": "String"
					},
					{
						"name": "19/07/2024",
						"type": "String"
					},
					{
						"name": "20/07/2024",
						"type": "String"
					},
					{
						"name": "21/07/2024",
						"type": "String"
					},
					{
						"name": "22/07/2024",
						"type": "String"
					},
					{
						"name": "23/07/2024",
						"type": "String"
					},
					{
						"name": "24/07/2024",
						"type": "String"
					},
					{
						"name": "25/07/2024",
						"type": "String"
					},
					{
						"name": "26/07/2024",
						"type": "String"
					},
					{
						"name": "27/07/2024",
						"type": "String"
					},
					{
						"name": "28/07/2024",
						"type": "String"
					},
					{
						"name": "29/07/2024",
						"type": "String"
					},
					{
						"name": "30/07/2024",
						"type": "String"
					},
					{
						"name": "31/07/2024",
						"type": "String"
					},
					{
						"name": "01/08/2024",
						"type": "String"
					},
					{
						"name": "02/08/2024",
						"type": "String"
					},
					{
						"name": "03/08/2024",
						"type": "String"
					},
					{
						"name": "04/08/2024",
						"type": "String"
					},
					{
						"name": "05/08/2024",
						"type": "String"
					},
					{
						"name": "06/08/2024",
						"type": "String"
					},
					{
						"name": "07/08/2024",
						"type": "String"
					},
					{
						"name": "08/08/2024",
						"type": "String"
					},
					{
						"name": "09/08/2024",
						"type": "String"
					},
					{
						"name": "10/08/2024",
						"type": "String"
					},
					{
						"name": "11/08/2024",
						"type": "String"
					},
					{
						"name": "12/08/2024",
						"type": "String"
					},
					{
						"name": "13/08/2024",
						"type": "String"
					},
					{
						"name": "14/08/2024",
						"type": "String"
					},
					{
						"name": "15/08/2024",
						"type": "String"
					},
					{
						"name": "16/08/2024",
						"type": "String"
					},
					{
						"name": "17/08/2024",
						"type": "String"
					},
					{
						"name": "18/08/2024",
						"type": "String"
					},
					{
						"name": "19/08/2024",
						"type": "String"
					},
					{
						"name": "20/08/2024",
						"type": "String"
					},
					{
						"name": "21/08/2024",
						"type": "String"
					},
					{
						"name": "22/08/2024",
						"type": "String"
					},
					{
						"name": "23/08/2024",
						"type": "String"
					},
					{
						"name": "24/08/2024",
						"type": "String"
					},
					{
						"name": "25/08/2024",
						"type": "String"
					},
					{
						"name": "26/08/2024",
						"type": "String"
					},
					{
						"name": "27/08/2024",
						"type": "String"
					},
					{
						"name": "28/08/2024",
						"type": "String"
					},
					{
						"name": "29/08/2024",
						"type": "String"
					},
					{
						"name": "30/08/2024",
						"type": "String"
					},
					{
						"name": "31/08/2024",
						"type": "String"
					},
					{
						"name": "01/09/2024",
						"type": "String"
					},
					{
						"name": "02/09/2024",
						"type": "String"
					},
					{
						"name": "03/09/2024",
						"type": "String"
					},
					{
						"name": "04/09/2024",
						"type": "String"
					},
					{
						"name": "05/09/2024",
						"type": "String"
					},
					{
						"name": "06/09/2024",
						"type": "String"
					},
					{
						"name": "07/09/2024",
						"type": "String"
					},
					{
						"name": "08/09/2024",
						"type": "String"
					},
					{
						"name": "09/09/2024",
						"type": "String"
					},
					{
						"name": "10/09/2024",
						"type": "String"
					},
					{
						"name": "11/09/2024",
						"type": "String"
					},
					{
						"name": "12/09/2024",
						"type": "String"
					},
					{
						"name": "13/09/2024",
						"type": "String"
					},
					{
						"name": "14/09/2024",
						"type": "String"
					},
					{
						"name": "15/09/2024",
						"type": "String"
					},
					{
						"name": "16/09/2024",
						"type": "String"
					},
					{
						"name": "17/09/2024",
						"type": "String"
					},
					{
						"name": "18/09/2024",
						"type": "String"
					},
					{
						"name": "19/09/2024",
						"type": "String"
					},
					{
						"name": "20/09/2024",
						"type": "String"
					},
					{
						"name": "21/09/2024",
						"type": "String"
					},
					{
						"name": "22/09/2024",
						"type": "String"
					},
					{
						"name": "23/09/2024",
						"type": "String"
					},
					{
						"name": "24/09/2024",
						"type": "String"
					},
					{
						"name": "25/09/2024",
						"type": "String"
					},
					{
						"name": "26/09/2024",
						"type": "String"
					},
					{
						"name": "27/09/2024",
						"type": "String"
					},
					{
						"name": "28/09/2024",
						"type": "String"
					},
					{
						"name": "29/09/2024",
						"type": "String"
					},
					{
						"name": "30/09/2024",
						"type": "String"
					},
					{
						"name": "01/10/2024",
						"type": "String"
					},
					{
						"name": "02/10/2024",
						"type": "String"
					},
					{
						"name": "03/10/2024",
						"type": "String"
					},
					{
						"name": "04/10/2024",
						"type": "String"
					},
					{
						"name": "05/10/2024",
						"type": "String"
					},
					{
						"name": "06/10/2024",
						"type": "String"
					},
					{
						"name": "07/10/2024",
						"type": "String"
					},
					{
						"name": "08/10/2024",
						"type": "String"
					},
					{
						"name": "09/10/2024",
						"type": "String"
					},
					{
						"name": "10/10/2024",
						"type": "String"
					},
					{
						"name": "11/10/2024",
						"type": "String"
					},
					{
						"name": "12/10/2024",
						"type": "String"
					},
					{
						"name": "13/10/2024",
						"type": "String"
					},
					{
						"name": "14/10/2024",
						"type": "String"
					},
					{
						"name": "15/10/2024",
						"type": "String"
					},
					{
						"name": "16/10/2024",
						"type": "String"
					},
					{
						"name": "17/10/2024",
						"type": "String"
					},
					{
						"name": "18/10/2024",
						"type": "String"
					},
					{
						"name": "19/10/2024",
						"type": "String"
					},
					{
						"name": "20/10/2024",
						"type": "String"
					},
					{
						"name": "21/10/2024",
						"type": "String"
					},
					{
						"name": "22/10/2024",
						"type": "String"
					},
					{
						"name": "23/10/2024",
						"type": "String"
					},
					{
						"name": "24/10/2024",
						"type": "String"
					},
					{
						"name": "25/10/2024",
						"type": "String"
					},
					{
						"name": "26/10/2024",
						"type": "String"
					},
					{
						"name": "27/10/2024",
						"type": "String"
					},
					{
						"name": "28/10/2024",
						"type": "String"
					},
					{
						"name": "29/10/2024",
						"type": "String"
					},
					{
						"name": "30/10/2024",
						"type": "String"
					},
					{
						"name": "31/10/2024",
						"type": "String"
					},
					{
						"name": "01/11/2024",
						"type": "String"
					},
					{
						"name": "02/11/2024",
						"type": "String"
					},
					{
						"name": "03/11/2024",
						"type": "String"
					},
					{
						"name": "04/11/2024",
						"type": "String"
					},
					{
						"name": "05/11/2024",
						"type": "String"
					},
					{
						"name": "06/11/2024",
						"type": "String"
					},
					{
						"name": "07/11/2024",
						"type": "String"
					},
					{
						"name": "08/11/2024",
						"type": "String"
					},
					{
						"name": "09/11/2024",
						"type": "String"
					},
					{
						"name": "10/11/2024",
						"type": "String"
					},
					{
						"name": "11/11/2024",
						"type": "String"
					},
					{
						"name": "12/11/2024",
						"type": "String"
					},
					{
						"name": "13/11/2024",
						"type": "String"
					},
					{
						"name": "14/11/2024",
						"type": "String"
					},
					{
						"name": "15/11/2024",
						"type": "String"
					},
					{
						"name": "16/11/2024",
						"type": "String"
					},
					{
						"name": "17/11/2024",
						"type": "String"
					},
					{
						"name": "18/11/2024",
						"type": "String"
					},
					{
						"name": "19/11/2024",
						"type": "String"
					},
					{
						"name": "20/11/2024",
						"type": "String"
					},
					{
						"name": "21/11/2024",
						"type": "String"
					},
					{
						"name": "22/11/2024",
						"type": "String"
					},
					{
						"name": "23/11/2024",
						"type": "String"
					},
					{
						"name": "24/11/2024",
						"type": "String"
					},
					{
						"name": "25/11/2024",
						"type": "String"
					},
					{
						"name": "26/11/2024",
						"type": "String"
					},
					{
						"name": "27/11/2024",
						"type": "String"
					},
					{
						"name": "28/11/2024",
						"type": "String"
					},
					{
						"name": "29/11/2024",
						"type": "String"
					},
					{
						"name": "30/11/2024",
						"type": "String"
					},
					{
						"name": "01/12/2024",
						"type": "String"
					},
					{
						"name": "02/12/2024",
						"type": "String"
					},
					{
						"name": "03/12/2024",
						"type": "String"
					},
					{
						"name": "04/12/2024",
						"type": "String"
					},
					{
						"name": "05/12/2024",
						"type": "String"
					},
					{
						"name": "06/12/2024",
						"type": "String"
					},
					{
						"name": "07/12/2024",
						"type": "String"
					},
					{
						"name": "08/12/2024",
						"type": "String"
					},
					{
						"name": "09/12/2024",
						"type": "String"
					},
					{
						"name": "10/12/2024",
						"type": "String"
					},
					{
						"name": "11/12/2024",
						"type": "String"
					},
					{
						"name": "12/12/2024",
						"type": "String"
					},
					{
						"name": "13/12/2024",
						"type": "String"
					},
					{
						"name": "14/12/2024",
						"type": "String"
					},
					{
						"name": "15/12/2024",
						"type": "String"
					},
					{
						"name": "16/12/2024",
						"type": "String"
					},
					{
						"name": "17/12/2024",
						"type": "String"
					},
					{
						"name": "18/12/2024",
						"type": "String"
					},
					{
						"name": "19/12/2024",
						"type": "String"
					},
					{
						"name": "20/12/2024",
						"type": "String"
					},
					{
						"name": "21/12/2024",
						"type": "String"
					},
					{
						"name": "22/12/2024",
						"type": "String"
					},
					{
						"name": "23/12/2024",
						"type": "String"
					},
					{
						"name": "24/12/2024",
						"type": "String"
					},
					{
						"name": "25/12/2024",
						"type": "String"
					},
					{
						"name": "26/12/2024",
						"type": "String"
					},
					{
						"name": "27/12/2024",
						"type": "String"
					},
					{
						"name": "28/12/2024",
						"type": "String"
					},
					{
						"name": "29/12/2024",
						"type": "String"
					},
					{
						"name": "30/12/2024",
						"type": "String"
					},
					{
						"name": "31/12/2024",
						"type": "String"
					},
					{
						"name": "31/12/2024",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		}
	]
}