pipeline/AzStorage_CSV_and_AzSQL.json
{
	"name": "AzStorage_CSV_and_AzSQL",
	"properties": {
		"activities": [
			{
				"name": "CsvEmploy_To_AzSql_RawE_EMPLEADOS_CSV",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Excels To AzSQL",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "EMPLEADO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "EMPLEADO",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "\tSUELDO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SUELDO",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "\t\tDEPARTAMENTO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "DEPARTAMENTO",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "\tPROJECT_MANAGER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PROJECT_MANAGER",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzStorage_Csv_Employ",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzSql_Raw_E_EMPLEADOS_CSV",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Excels To AzSQL",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "VENTAS_PASADAS",
							"wildcardFileName": "Actual*.xlsx",
							"enablePartitionDiscovery": false
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "XlsContainsActualInName",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Metadat FOLDERS Childitem",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "DROP E_ACTUAL_LAST_YEAR",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "XlsContainsActualInName",
						"type": "DatasetReference",
						"parameters": {
							"FOLER_NAME": {
								"value": "@variables('folder_name')",
								"type": "Expression"
							},
							"FILE_NAME": {
								"value": "@variables('Excel_name')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "XlsContainsActualInName",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "1 BUCLE POR CADA CARPETA",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadat FOLDERS Childitem",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadat FOLDERS Childitem').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@or(\n        contains(  item().name   , 'ACTUAL'   ) \n        ,contains(  item().name   , 'PASADA'   ) \n   ) \n\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Folder Name",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "folder_name",
											"value": {
												"value": "@if(\n    or(\n        startswith(     item().name,    'VENTAS'), \n        contains(       item().name,    'VENTA'     )\n        )\n        ,   item().name\n        ,   null\n\n    )",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Folder Name",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ExcelSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFolderPath": {
														"value": "@variables('folder_name')",
														"type": "Expression"
													},
													"wildcardFileName": "Actual*.xlsx",
													"enablePartitionDiscovery": false
												}
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false,
												"tableOption": "autoCreate",
												"disableMetricsCollection": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "XlsContainsActualInName",
												"type": "DatasetReference",
												"parameters": {
													"FOLER_NAME": {
														"value": "@variables('folder_name')",
														"type": "Expression"
													},
													"FILE_NAME": "Actual Q1.xlsx"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "AzSql_RAW_DATA",
												"type": "DatasetReference",
												"parameters": {
													"table_name": "E_LAST_YEAR_XLSX"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "DROP E_ACTUAL_LAST_YEAR",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "DROP TABLE IF EXISTS E_LAST_YEAR_XLSX"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"Servidor": {
				"type": "string",
				"defaultValue": "caldata"
			},
			"adlscsr961": {
				"type": "string",
				"defaultValue": "storage_account"
			}
		},
		"variables": {
			"table_names": {
				"type": "String",
				"defaultValue": "raw_data"
			},
			"folder_name": {
				"type": "String"
			},
			"Excel_name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}