adf-csr961/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-csr961"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureFunction1_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'AzureFunction1'"
		},
		"AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase1'"
		},
		"RestService1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'RestService1'"
		},
		"AzureFunction1_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://afproject1.azurewebsites.net"
		},
		"GIT_CSV_LINK_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://raw.githubusercontent.com/CARSIRO96/DATA_TRAIN/master/CSVs/empleados.csv"
		},
		"Http_data_GitHub_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://raw.githubusercontent.com/CARSIRO96/DATA_TRAIN/master/CSVs/empleados.csv"
		},
		"RestService1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.dropboxapi.com/"
		},
		"RestService1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "carsiro96.ittools@hotmail.com"
		},
		"adftest_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0202-195510-ujd6538b"
		},
		"akvtest_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://SQLServerCTPKeys.vault.azure.net/"
		},
		"trigger1_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/19944c1e-2e5d-4745-8be0-d24900c7dc73/resourceGroups/Project1/providers/Microsoft.Storage/storageAccounts/adlscsr961"
		},
		"trigger_by_blow_raw_VENTAS_PASADAS_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/19944c1e-2e5d-4745-8be0-d24900c7dc73/resourceGroups/Project1/providers/Microsoft.Storage/storageAccounts/adlscsr961"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/API - BEARER - DATA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://www.dropbox.com/oauth2/authorize?client_id=kpamkpg3iqd0u8z&response_type=code"
						}
					},
					{
						"name": "Web2",
						"type": "WebActivity",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"url": "https://api.dropboxapi.com/oauth2/token",
							"body": "grant_type=client_credentials&client_id=kpamkpg3iqd0u8z&client_secret=0ojfgtz2y1qtnr5"
						}
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Web3",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json",
								"Authorization": "Bearer sl.BwWyU081-LBF-mjS_ycbRnaT1EX33A7D0a70y7J00osEwUPbz2s-Zuzb2YJnDOhG0a-MlpdGM62KGmAVZLpSBrrxdrco13empB3_dakTK0-0CMW-RoyJ4lOZlSIzZfzmI5rAA8OkkR9R4BZWO7kJ"
							},
							"url": "https://api.dropboxapi.com/2/files/list_folder",
							"body": {
								"include_deleted": false,
								"include_has_explicit_shared_members": false,
								"include_media_info": false,
								"include_mounted_folders": true,
								"include_non_downloadable_files": true,
								"path": "/DATA",
								"recursive": false
							}
						}
					},
					{
						"name": "Get File_name in teh 2nd vaue of the responses",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Web3",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "j_response_api_dropbxV_list_files",
							"value": {
								"value": "@activity('Web3').output.entries[1].name",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Get count files in the folder",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get File_name in teh 2nd vaue of the responses",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "n_num_elements",
							"value": {
								"value": "@length(\n    activity('Web3').output.entries\n    )",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"j_response_api_dropbxV_list_files": {
						"type": "String"
					},
					"n_num_elements": {
						"type": "Integer"
					},
					"AF_RESPONSE": {
						"type": "String"
					},
					"Array_Response_AF": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZURE FUNCTIONS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Azure Function1",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "bing_api_getNews_politics",
							"method": "POST",
							"headers": {},
							"body": "{\n  'name':'HOLAA'\n}"
						},
						"linkedServiceName": {
							"referenceName": "AzureFunction1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Azure Function1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "AF_RESPONSE",
							"value": {
								"value": "@activity('Azure Function1').output.Response",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"AF_RESPONSE": {
						"type": "String"
					},
					"Array_Response_AF": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureFunction1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzStorage_CSV_and_AzSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CsvEmploy_To_AzSql_RawE_EMPLEADOS_CSV",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Excels To AzSQL",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "EMPLEADO",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EMPLEADO",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "\tSUELDO",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SUELDO",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "\t\tDEPARTAMENTO",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DEPARTAMENTO",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "\tPROJECT_MANAGER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PROJECT_MANAGER",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzStorage_Csv_Employ",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzSql_Raw_E_EMPLEADOS_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Excels To AzSQL",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "VENTAS_PASADAS",
									"wildcardFileName": "Actual*.xlsx",
									"enablePartitionDiscovery": false
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "XlsContainsActualInName",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Get Metadat FOLDERS Childitem",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "DROP E_ACTUAL_LAST_YEAR",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "XlsContainsActualInName",
								"type": "DatasetReference",
								"parameters": {
									"FOLER_NAME": {
										"value": "@variables('folder_name')",
										"type": "Expression"
									},
									"FILE_NAME": {
										"value": "@variables('Excel_name')",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "XlsContainsActualInName",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "1 BUCLE POR CADA CARPETA",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadat FOLDERS Childitem",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadat FOLDERS Childitem').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@or(\n        contains(  item().name   , 'ACTUAL'   ) \n        ,contains(  item().name   , 'PASADA'   ) \n   ) \n\n",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Folder Name",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "folder_name",
													"value": {
														"value": "@if(\n    or(\n        startswith(     item().name,    'VENTAS'), \n        contains(       item().name,    'VENTA'     )\n        )\n        ,   item().name\n        ,   null\n\n    )",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Copy data1",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Folder Name",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ExcelSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFolderPath": {
																"value": "@variables('folder_name')",
																"type": "Expression"
															},
															"wildcardFileName": "Actual*.xlsx",
															"enablePartitionDiscovery": false
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false,
														"tableOption": "autoCreate",
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "XlsContainsActualInName",
														"type": "DatasetReference",
														"parameters": {
															"FOLER_NAME": {
																"value": "@variables('folder_name')",
																"type": "Expression"
															},
															"FILE_NAME": "Actual Q1.xlsx"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "AzSql_RAW_DATA",
														"type": "DatasetReference",
														"parameters": {
															"table_name": "E_LAST_YEAR_XLSX"
														}
													}
												]
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "DROP E_ACTUAL_LAST_YEAR",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "DROP TABLE IF EXISTS E_LAST_YEAR_XLSX"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Servidor": {
						"type": "string",
						"defaultValue": "caldata"
					},
					"adlscsr961": {
						"type": "string",
						"defaultValue": "storage_account"
					}
				},
				"variables": {
					"table_names": {
						"type": "String",
						"defaultValue": "raw_data"
					},
					"folder_name": {
						"type": "String"
					},
					"Excel_name": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzStorage_Csv_Employ')]",
				"[concat(variables('factoryId'), '/datasets/AzSql_Raw_E_EMPLEADOS_CSV')]",
				"[concat(variables('factoryId'), '/datasets/XlsContainsActualInName')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]",
				"[concat(variables('factoryId'), '/datasets/AzSql_RAW_DATA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BucleVariablesParamExpressions')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "ForEach2",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupExcelSheetTable').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LookupExcelTable",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat(    'SELECT *  \nFROM ' , item().TABLE_NAME )",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"isolationLevel": "ReadCommitted",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "AzSql_Raw_E_EMPLEADOS_CSV",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "AzSql_RAW_DATA",
											"type": "DatasetReference",
											"parameters": {
												"table_name": {
													"value": "@item().TABLE_NAME",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "AzStorage_Csv_Dynamic",
											"type": "DatasetReference",
											"parameters": {
												"csv_name": {
													"value": "item().csv_name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "LookupExcelSheetTable",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "TRUNCATE TABLE",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT \r\n    'Actual 2023_Q1.xlsx' AS EXCEL_NAME\r\n    ,\r\n    'Actual 2023_Q1.csv' AS CSV_NAME\r\n    ,\r\n    'DS - Ventas Ticket (MKT)' AS SHEET_NAME\r\n    ,\r\n    'E_LAST_YEAR_Q1_XLSX'   AS TABLE_NAME\r\nUNION ALL\r\nSELECT \r\n    'Actual 2023_Q2.xlsx' AS EXCEL_NAME\r\n    ,\r\n    'Actual 2023_Q1.csv' AS CSV_NAME\r\n    ,\r\n    'DS - Ventas Ticket (MKT)' AS SHEET_NAME\r\n    ,\r\n    'E_LAST_YEAR_Q2_XLSX'   AS TABLE_NAME\r\n\r\n\r\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzSql_Raw_E_EMPLEADOS_CSV",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "TRUNCATE TABLE",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "\nDECLARE @tableName NVARCHAR(MAX)\nDECLARE @sql NVARCHAR(MAX)\nDECLARE cur CURSOR FOR\n------------------------------- CUIDADO !! SE BORRARÁN\n\t\t SELECT 'E_BUDGET_VENTAS_SALA_XLSX' AS TABLE_NAMES\n\t\tUNION ALL \n\t\tSELECT 'E_BUDGET_VENTAS_SALA_dsdsdadfawdewaeeXLSX'\n------------------------------- CUIDADO !!\nOPEN cur\nFETCH NEXT FROM cur INTO @tableName\nWHILE @@FETCH_STATUS = 0\nBEGIN\n    SET @sql = 'IF EXISTS (SELECT * FROM sys.tables WHERE name = '''\n\t\t+ @tableName\n\t\t\t+ '''AND type = ''U'')\n\tBEGIN\n\t\tDROP TABLE IF EXISTS\n\t' + QUOTENAME(@tableName)\n\t+ ' END\nELSE\n\tBEGIN\n\t\tPRINT ''The table does not exist.'';\n\tEND\n'\n\t--SELECT @sql\n    EXEC sp_executesql @sql\n    FETCH NEXT FROM cur INTO @tableName\nEND\n\nCLOSE cur\nDEALLOCATE cur\n\n"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "ForEach2",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupExcelSheetTable",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupExcelSheetTable').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "ExcelToSQL-E_LAST_YEAR",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "dynamicLastYearExcelNameSQLtoEXCEL",
											"type": "DatasetReference",
											"parameters": {
												"sheet_name": {
													"value": "@item().SHEET_NAME",
													"type": "Expression"
												},
												"filename": {
													"value": "@item().filename   ",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "AzSql_RAW_DATA",
											"type": "DatasetReference",
											"parameters": {
												"table_name": {
													"value": "@item().TABLE_NAME",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ARR_FILE_NAMES": {
						"type": "array",
						"defaultValue": [
							"Actual 2023_Q1.xlsx",
							"Actual 2023_Q2.xlsx"
						]
					},
					"ARR_TABLE_NAMES": {
						"type": "array",
						"defaultValue": [
							"FIFA",
							"E_EMPLEADOS_CSV"
						]
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzSql_Raw_E_EMPLEADOS_CSV')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]",
				"[concat(variables('factoryId'), '/datasets/AzSql_RAW_DATA')]",
				"[concat(variables('factoryId'), '/datasets/AzStorage_Csv_Dynamic')]",
				"[concat(variables('factoryId'), '/datasets/dynamicLastYearExcelNameSQLtoEXCEL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzSql_RAW_DATA')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"table_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "AzSQL_DATABASES"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Nombre",
						"type": "varchar"
					},
					{
						"name": "NombreCompleto",
						"type": "varchar"
					},
					{
						"name": "Club",
						"type": "varchar"
					},
					{
						"name": "Liga",
						"type": "varchar"
					},
					{
						"name": "FechaNacimiento",
						"type": "date"
					},
					{
						"name": "AlturaCM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PesoKG",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Nacionalidad",
						"type": "varchar"
					},
					{
						"name": "ValorEuropa",
						"type": "float",
						"precision": 15
					},
					{
						"name": "PiePreferido",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().table_name",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzSql_Raw_E_EMPLEADOS_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV PROCESSS-EMPLOY"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "EMPLEADO",
						"type": "varchar"
					},
					{
						"name": "SUELDO",
						"type": "varchar"
					},
					{
						"name": "FIELD3",
						"type": "date"
					},
					{
						"name": "DEPARTAMENTO",
						"type": "varchar"
					},
					{
						"name": "PROJECT MANAGER",
						"type": "varchar"
					},
					{
						"name": "FIELD6",
						"type": "varchar"
					},
					{
						"name": "FIELD7",
						"type": "varchar"
					},
					{
						"name": "FIELD8",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "E_EMPLEADOS_CSV"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzStorage_Csv_Dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"csv_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "BUCLE FOR"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().csv_name",
							"type": "Expression"
						},
						"folderPath": " VENTAS_PASADAS",
						"container": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "EMPLEADO",
						"type": "String"
					},
					{
						"name": "\tSUELDO",
						"type": "String"
					},
					{
						"name": "\t\tDEPARTAMENTO",
						"type": "String"
					},
					{
						"name": "\tPROJECT_MANAGER",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzStorage_Csv_Employ')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV PROCESSS-EMPLOY"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "empleados.csv",
						"container": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "EMPLEADO",
						"type": "String"
					},
					{
						"name": "\tSUELDO",
						"type": "String"
					},
					{
						"name": "\t\tDEPARTAMENTO",
						"type": "String"
					},
					{
						"name": "\tPROJECT_MANAGER",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Budget2024_SheetVentas_Auto')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BUCLE FOR"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Ventas_Auto",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Budget Actual.xlsx",
						"folderPath": "BUDGET_SALES",
						"container": "raw"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "BK",
						"type": "String"
					},
					{
						"name": "Restaurante",
						"type": "String"
					},
					{
						"name": "Compañía",
						"type": "String"
					},
					{
						"name": "01/01/2024",
						"type": "String"
					},
					{
						"name": "02/01/2024",
						"type": "String"
					},
					{
						"name": "03/01/2024",
						"type": "String"
					},
					{
						"name": "04/01/2024",
						"type": "String"
					},
					{
						"name": "05/01/2024",
						"type": "String"
					},
					{
						"name": "06/01/2024",
						"type": "String"
					},
					{
						"name": "07/01/2024",
						"type": "String"
					},
					{
						"name": "08/01/2024",
						"type": "String"
					},
					{
						"name": "09/01/2024",
						"type": "String"
					},
					{
						"name": "10/01/2024",
						"type": "String"
					},
					{
						"name": "11/01/2024",
						"type": "String"
					},
					{
						"name": "12/01/2024",
						"type": "String"
					},
					{
						"name": "13/01/2024",
						"type": "String"
					},
					{
						"name": "14/01/2024",
						"type": "String"
					},
					{
						"name": "15/01/2024",
						"type": "String"
					},
					{
						"name": "16/01/2024",
						"type": "String"
					},
					{
						"name": "17/01/2024",
						"type": "String"
					},
					{
						"name": "18/01/2024",
						"type": "String"
					},
					{
						"name": "19/01/2024",
						"type": "String"
					},
					{
						"name": "20/01/2024",
						"type": "String"
					},
					{
						"name": "21/01/2024",
						"type": "String"
					},
					{
						"name": "22/01/2024",
						"type": "String"
					},
					{
						"name": "23/01/2024",
						"type": "String"
					},
					{
						"name": "24/01/2024",
						"type": "String"
					},
					{
						"name": "25/01/2024",
						"type": "String"
					},
					{
						"name": "26/01/2024",
						"type": "String"
					},
					{
						"name": "27/01/2024",
						"type": "String"
					},
					{
						"name": "28/01/2024",
						"type": "String"
					},
					{
						"name": "29/01/2024",
						"type": "String"
					},
					{
						"name": "30/01/2024",
						"type": "String"
					},
					{
						"name": "31/01/2024",
						"type": "String"
					},
					{
						"name": "01/02/2024",
						"type": "String"
					},
					{
						"name": "02/02/2024",
						"type": "String"
					},
					{
						"name": "03/02/2024",
						"type": "String"
					},
					{
						"name": "04/02/2024",
						"type": "String"
					},
					{
						"name": "05/02/2024",
						"type": "String"
					},
					{
						"name": "06/02/2024",
						"type": "String"
					},
					{
						"name": "07/02/2024",
						"type": "String"
					},
					{
						"name": "08/02/2024",
						"type": "String"
					},
					{
						"name": "09/02/2024",
						"type": "String"
					},
					{
						"name": "10/02/2024",
						"type": "String"
					},
					{
						"name": "11/02/2024",
						"type": "String"
					},
					{
						"name": "12/02/2024",
						"type": "String"
					},
					{
						"name": "13/02/2024",
						"type": "String"
					},
					{
						"name": "14/02/2024",
						"type": "String"
					},
					{
						"name": "15/02/2024",
						"type": "String"
					},
					{
						"name": "16/02/2024",
						"type": "String"
					},
					{
						"name": "17/02/2024",
						"type": "String"
					},
					{
						"name": "18/02/2024",
						"type": "String"
					},
					{
						"name": "19/02/2024",
						"type": "String"
					},
					{
						"name": "20/02/2024",
						"type": "String"
					},
					{
						"name": "21/02/2024",
						"type": "String"
					},
					{
						"name": "22/02/2024",
						"type": "String"
					},
					{
						"name": "23/02/2024",
						"type": "String"
					},
					{
						"name": "24/02/2024",
						"type": "String"
					},
					{
						"name": "25/02/2024",
						"type": "String"
					},
					{
						"name": "26/02/2024",
						"type": "String"
					},
					{
						"name": "27/02/2024",
						"type": "String"
					},
					{
						"name": "28/02/2024",
						"type": "String"
					},
					{
						"name": "29/02/2024",
						"type": "String"
					},
					{
						"name": "01/03/2024",
						"type": "String"
					},
					{
						"name": "02/03/2024",
						"type": "String"
					},
					{
						"name": "03/03/2024",
						"type": "String"
					},
					{
						"name": "04/03/2024",
						"type": "String"
					},
					{
						"name": "05/03/2024",
						"type": "String"
					},
					{
						"name": "06/03/2024",
						"type": "String"
					},
					{
						"name": "07/03/2024",
						"type": "String"
					},
					{
						"name": "08/03/2024",
						"type": "String"
					},
					{
						"name": "09/03/2024",
						"type": "String"
					},
					{
						"name": "10/03/2024",
						"type": "String"
					},
					{
						"name": "11/03/2024",
						"type": "String"
					},
					{
						"name": "12/03/2024",
						"type": "String"
					},
					{
						"name": "13/03/2024",
						"type": "String"
					},
					{
						"name": "14/03/2024",
						"type": "String"
					},
					{
						"name": "15/03/2024",
						"type": "String"
					},
					{
						"name": "16/03/2024",
						"type": "String"
					},
					{
						"name": "17/03/2024",
						"type": "String"
					},
					{
						"name": "18/03/2024",
						"type": "String"
					},
					{
						"name": "19/03/2024",
						"type": "String"
					},
					{
						"name": "20/03/2024",
						"type": "String"
					},
					{
						"name": "21/03/2024",
						"type": "String"
					},
					{
						"name": "22/03/2024",
						"type": "String"
					},
					{
						"name": "23/03/2024",
						"type": "String"
					},
					{
						"name": "24/03/2024",
						"type": "String"
					},
					{
						"name": "25/03/2024",
						"type": "String"
					},
					{
						"name": "26/03/2024",
						"type": "String"
					},
					{
						"name": "27/03/2024",
						"type": "String"
					},
					{
						"name": "28/03/2024",
						"type": "String"
					},
					{
						"name": "29/03/2024",
						"type": "String"
					},
					{
						"name": "30/03/2024",
						"type": "String"
					},
					{
						"name": "31/03/2024",
						"type": "String"
					},
					{
						"name": "01/04/2024",
						"type": "String"
					},
					{
						"name": "02/04/2024",
						"type": "String"
					},
					{
						"name": "03/04/2024",
						"type": "String"
					},
					{
						"name": "04/04/2024",
						"type": "String"
					},
					{
						"name": "05/04/2024",
						"type": "String"
					},
					{
						"name": "06/04/2024",
						"type": "String"
					},
					{
						"name": "07/04/2024",
						"type": "String"
					},
					{
						"name": "08/04/2024",
						"type": "String"
					},
					{
						"name": "09/04/2024",
						"type": "String"
					},
					{
						"name": "10/04/2024",
						"type": "String"
					},
					{
						"name": "11/04/2024",
						"type": "String"
					},
					{
						"name": "12/04/2024",
						"type": "String"
					},
					{
						"name": "13/04/2024",
						"type": "String"
					},
					{
						"name": "14/04/2024",
						"type": "String"
					},
					{
						"name": "15/04/2024",
						"type": "String"
					},
					{
						"name": "16/04/2024",
						"type": "String"
					},
					{
						"name": "17/04/2024",
						"type": "String"
					},
					{
						"name": "18/04/2024",
						"type": "String"
					},
					{
						"name": "19/04/2024",
						"type": "String"
					},
					{
						"name": "20/04/2024",
						"type": "String"
					},
					{
						"name": "21/04/2024",
						"type": "String"
					},
					{
						"name": "22/04/2024",
						"type": "String"
					},
					{
						"name": "23/04/2024",
						"type": "String"
					},
					{
						"name": "24/04/2024",
						"type": "String"
					},
					{
						"name": "25/04/2024",
						"type": "String"
					},
					{
						"name": "26/04/2024",
						"type": "String"
					},
					{
						"name": "27/04/2024",
						"type": "String"
					},
					{
						"name": "28/04/2024",
						"type": "String"
					},
					{
						"name": "29/04/2024",
						"type": "String"
					},
					{
						"name": "30/04/2024",
						"type": "String"
					},
					{
						"name": "01/05/2024",
						"type": "String"
					},
					{
						"name": "02/05/2024",
						"type": "String"
					},
					{
						"name": "03/05/2024",
						"type": "String"
					},
					{
						"name": "04/05/2024",
						"type": "String"
					},
					{
						"name": "05/05/2024",
						"type": "String"
					},
					{
						"name": "06/05/2024",
						"type": "String"
					},
					{
						"name": "07/05/2024",
						"type": "String"
					},
					{
						"name": "08/05/2024",
						"type": "String"
					},
					{
						"name": "09/05/2024",
						"type": "String"
					},
					{
						"name": "10/05/2024",
						"type": "String"
					},
					{
						"name": "11/05/2024",
						"type": "String"
					},
					{
						"name": "12/05/2024",
						"type": "String"
					},
					{
						"name": "13/05/2024",
						"type": "String"
					},
					{
						"name": "14/05/2024",
						"type": "String"
					},
					{
						"name": "15/05/2024",
						"type": "String"
					},
					{
						"name": "16/05/2024",
						"type": "String"
					},
					{
						"name": "17/05/2024",
						"type": "String"
					},
					{
						"name": "18/05/2024",
						"type": "String"
					},
					{
						"name": "19/05/2024",
						"type": "String"
					},
					{
						"name": "20/05/2024",
						"type": "String"
					},
					{
						"name": "21/05/2024",
						"type": "String"
					},
					{
						"name": "22/05/2024",
						"type": "String"
					},
					{
						"name": "23/05/2024",
						"type": "String"
					},
					{
						"name": "24/05/2024",
						"type": "String"
					},
					{
						"name": "25/05/2024",
						"type": "String"
					},
					{
						"name": "26/05/2024",
						"type": "String"
					},
					{
						"name": "27/05/2024",
						"type": "String"
					},
					{
						"name": "28/05/2024",
						"type": "String"
					},
					{
						"name": "29/05/2024",
						"type": "String"
					},
					{
						"name": "30/05/2024",
						"type": "String"
					},
					{
						"name": "31/05/2024",
						"type": "String"
					},
					{
						"name": "01/06/2024",
						"type": "String"
					},
					{
						"name": "02/06/2024",
						"type": "String"
					},
					{
						"name": "03/06/2024",
						"type": "String"
					},
					{
						"name": "04/06/2024",
						"type": "String"
					},
					{
						"name": "05/06/2024",
						"type": "String"
					},
					{
						"name": "06/06/2024",
						"type": "String"
					},
					{
						"name": "07/06/2024",
						"type": "String"
					},
					{
						"name": "08/06/2024",
						"type": "String"
					},
					{
						"name": "09/06/2024",
						"type": "String"
					},
					{
						"name": "10/06/2024",
						"type": "String"
					},
					{
						"name": "11/06/2024",
						"type": "String"
					},
					{
						"name": "12/06/2024",
						"type": "String"
					},
					{
						"name": "13/06/2024",
						"type": "String"
					},
					{
						"name": "14/06/2024",
						"type": "String"
					},
					{
						"name": "15/06/2024",
						"type": "String"
					},
					{
						"name": "16/06/2024",
						"type": "String"
					},
					{
						"name": "17/06/2024",
						"type": "String"
					},
					{
						"name": "18/06/2024",
						"type": "String"
					},
					{
						"name": "19/06/2024",
						"type": "String"
					},
					{
						"name": "20/06/2024",
						"type": "String"
					},
					{
						"name": "21/06/2024",
						"type": "String"
					},
					{
						"name": "22/06/2024",
						"type": "String"
					},
					{
						"name": "23/06/2024",
						"type": "String"
					},
					{
						"name": "24/06/2024",
						"type": "String"
					},
					{
						"name": "25/06/2024",
						"type": "String"
					},
					{
						"name": "26/06/2024",
						"type": "String"
					},
					{
						"name": "27/06/2024",
						"type": "String"
					},
					{
						"name": "28/06/2024",
						"type": "String"
					},
					{
						"name": "29/06/2024",
						"type": "String"
					},
					{
						"name": "30/06/2024",
						"type": "String"
					},
					{
						"name": "01/07/2024",
						"type": "String"
					},
					{
						"name": "02/07/2024",
						"type": "String"
					},
					{
						"name": "03/07/2024",
						"type": "String"
					},
					{
						"name": "04/07/2024",
						"type": "String"
					},
					{
						"name": "05/07/2024",
						"type": "String"
					},
					{
						"name": "06/07/2024",
						"type": "String"
					},
					{
						"name": "07/07/2024",
						"type": "String"
					},
					{
						"name": "08/07/2024",
						"type": "String"
					},
					{
						"name": "09/07/2024",
						"type": "String"
					},
					{
						"name": "10/07/2024",
						"type": "String"
					},
					{
						"name": "11/07/2024",
						"type": "String"
					},
					{
						"name": "12/07/2024",
						"type": "String"
					},
					{
						"name": "13/07/2024",
						"type": "String"
					},
					{
						"name": "14/07/2024",
						"type": "String"
					},
					{
						"name": "15/07/2024",
						"type": "String"
					},
					{
						"name": "16/07/2024",
						"type": "String"
					},
					{
						"name": "17/07/2024",
						"type": "String"
					},
					{
						"name": "18/07/2024",
						"type": "String"
					},
					{
						"name": "19/07/2024",
						"type": "String"
					},
					{
						"name": "20/07/2024",
						"type": "String"
					},
					{
						"name": "21/07/2024",
						"type": "String"
					},
					{
						"name": "22/07/2024",
						"type": "String"
					},
					{
						"name": "23/07/2024",
						"type": "String"
					},
					{
						"name": "24/07/2024",
						"type": "String"
					},
					{
						"name": "25/07/2024",
						"type": "String"
					},
					{
						"name": "26/07/2024",
						"type": "String"
					},
					{
						"name": "27/07/2024",
						"type": "String"
					},
					{
						"name": "28/07/2024",
						"type": "String"
					},
					{
						"name": "29/07/2024",
						"type": "String"
					},
					{
						"name": "30/07/2024",
						"type": "String"
					},
					{
						"name": "31/07/2024",
						"type": "String"
					},
					{
						"name": "01/08/2024",
						"type": "String"
					},
					{
						"name": "02/08/2024",
						"type": "String"
					},
					{
						"name": "03/08/2024",
						"type": "String"
					},
					{
						"name": "04/08/2024",
						"type": "String"
					},
					{
						"name": "05/08/2024",
						"type": "String"
					},
					{
						"name": "06/08/2024",
						"type": "String"
					},
					{
						"name": "07/08/2024",
						"type": "String"
					},
					{
						"name": "08/08/2024",
						"type": "String"
					},
					{
						"name": "09/08/2024",
						"type": "String"
					},
					{
						"name": "10/08/2024",
						"type": "String"
					},
					{
						"name": "11/08/2024",
						"type": "String"
					},
					{
						"name": "12/08/2024",
						"type": "String"
					},
					{
						"name": "13/08/2024",
						"type": "String"
					},
					{
						"name": "14/08/2024",
						"type": "String"
					},
					{
						"name": "15/08/2024",
						"type": "String"
					},
					{
						"name": "16/08/2024",
						"type": "String"
					},
					{
						"name": "17/08/2024",
						"type": "String"
					},
					{
						"name": "18/08/2024",
						"type": "String"
					},
					{
						"name": "19/08/2024",
						"type": "String"
					},
					{
						"name": "20/08/2024",
						"type": "String"
					},
					{
						"name": "21/08/2024",
						"type": "String"
					},
					{
						"name": "22/08/2024",
						"type": "String"
					},
					{
						"name": "23/08/2024",
						"type": "String"
					},
					{
						"name": "24/08/2024",
						"type": "String"
					},
					{
						"name": "25/08/2024",
						"type": "String"
					},
					{
						"name": "26/08/2024",
						"type": "String"
					},
					{
						"name": "27/08/2024",
						"type": "String"
					},
					{
						"name": "28/08/2024",
						"type": "String"
					},
					{
						"name": "29/08/2024",
						"type": "String"
					},
					{
						"name": "30/08/2024",
						"type": "String"
					},
					{
						"name": "31/08/2024",
						"type": "String"
					},
					{
						"name": "01/09/2024",
						"type": "String"
					},
					{
						"name": "02/09/2024",
						"type": "String"
					},
					{
						"name": "03/09/2024",
						"type": "String"
					},
					{
						"name": "04/09/2024",
						"type": "String"
					},
					{
						"name": "05/09/2024",
						"type": "String"
					},
					{
						"name": "06/09/2024",
						"type": "String"
					},
					{
						"name": "07/09/2024",
						"type": "String"
					},
					{
						"name": "08/09/2024",
						"type": "String"
					},
					{
						"name": "09/09/2024",
						"type": "String"
					},
					{
						"name": "10/09/2024",
						"type": "String"
					},
					{
						"name": "11/09/2024",
						"type": "String"
					},
					{
						"name": "12/09/2024",
						"type": "String"
					},
					{
						"name": "13/09/2024",
						"type": "String"
					},
					{
						"name": "14/09/2024",
						"type": "String"
					},
					{
						"name": "15/09/2024",
						"type": "String"
					},
					{
						"name": "16/09/2024",
						"type": "String"
					},
					{
						"name": "17/09/2024",
						"type": "String"
					},
					{
						"name": "18/09/2024",
						"type": "String"
					},
					{
						"name": "19/09/2024",
						"type": "String"
					},
					{
						"name": "20/09/2024",
						"type": "String"
					},
					{
						"name": "21/09/2024",
						"type": "String"
					},
					{
						"name": "22/09/2024",
						"type": "String"
					},
					{
						"name": "23/09/2024",
						"type": "String"
					},
					{
						"name": "24/09/2024",
						"type": "String"
					},
					{
						"name": "25/09/2024",
						"type": "String"
					},
					{
						"name": "26/09/2024",
						"type": "String"
					},
					{
						"name": "27/09/2024",
						"type": "String"
					},
					{
						"name": "28/09/2024",
						"type": "String"
					},
					{
						"name": "29/09/2024",
						"type": "String"
					},
					{
						"name": "30/09/2024",
						"type": "String"
					},
					{
						"name": "01/10/2024",
						"type": "String"
					},
					{
						"name": "02/10/2024",
						"type": "String"
					},
					{
						"name": "03/10/2024",
						"type": "String"
					},
					{
						"name": "04/10/2024",
						"type": "String"
					},
					{
						"name": "05/10/2024",
						"type": "String"
					},
					{
						"name": "06/10/2024",
						"type": "String"
					},
					{
						"name": "07/10/2024",
						"type": "String"
					},
					{
						"name": "08/10/2024",
						"type": "String"
					},
					{
						"name": "09/10/2024",
						"type": "String"
					},
					{
						"name": "10/10/2024",
						"type": "String"
					},
					{
						"name": "11/10/2024",
						"type": "String"
					},
					{
						"name": "12/10/2024",
						"type": "String"
					},
					{
						"name": "13/10/2024",
						"type": "String"
					},
					{
						"name": "14/10/2024",
						"type": "String"
					},
					{
						"name": "15/10/2024",
						"type": "String"
					},
					{
						"name": "16/10/2024",
						"type": "String"
					},
					{
						"name": "17/10/2024",
						"type": "String"
					},
					{
						"name": "18/10/2024",
						"type": "String"
					},
					{
						"name": "19/10/2024",
						"type": "String"
					},
					{
						"name": "20/10/2024",
						"type": "String"
					},
					{
						"name": "21/10/2024",
						"type": "String"
					},
					{
						"name": "22/10/2024",
						"type": "String"
					},
					{
						"name": "23/10/2024",
						"type": "String"
					},
					{
						"name": "24/10/2024",
						"type": "String"
					},
					{
						"name": "25/10/2024",
						"type": "String"
					},
					{
						"name": "26/10/2024",
						"type": "String"
					},
					{
						"name": "27/10/2024",
						"type": "String"
					},
					{
						"name": "28/10/2024",
						"type": "String"
					},
					{
						"name": "29/10/2024",
						"type": "String"
					},
					{
						"name": "30/10/2024",
						"type": "String"
					},
					{
						"name": "31/10/2024",
						"type": "String"
					},
					{
						"name": "01/11/2024",
						"type": "String"
					},
					{
						"name": "02/11/2024",
						"type": "String"
					},
					{
						"name": "03/11/2024",
						"type": "String"
					},
					{
						"name": "04/11/2024",
						"type": "String"
					},
					{
						"name": "05/11/2024",
						"type": "String"
					},
					{
						"name": "06/11/2024",
						"type": "String"
					},
					{
						"name": "07/11/2024",
						"type": "String"
					},
					{
						"name": "08/11/2024",
						"type": "String"
					},
					{
						"name": "09/11/2024",
						"type": "String"
					},
					{
						"name": "10/11/2024",
						"type": "String"
					},
					{
						"name": "11/11/2024",
						"type": "String"
					},
					{
						"name": "12/11/2024",
						"type": "String"
					},
					{
						"name": "13/11/2024",
						"type": "String"
					},
					{
						"name": "14/11/2024",
						"type": "String"
					},
					{
						"name": "15/11/2024",
						"type": "String"
					},
					{
						"name": "16/11/2024",
						"type": "String"
					},
					{
						"name": "17/11/2024",
						"type": "String"
					},
					{
						"name": "18/11/2024",
						"type": "String"
					},
					{
						"name": "19/11/2024",
						"type": "String"
					},
					{
						"name": "20/11/2024",
						"type": "String"
					},
					{
						"name": "21/11/2024",
						"type": "String"
					},
					{
						"name": "22/11/2024",
						"type": "String"
					},
					{
						"name": "23/11/2024",
						"type": "String"
					},
					{
						"name": "24/11/2024",
						"type": "String"
					},
					{
						"name": "25/11/2024",
						"type": "String"
					},
					{
						"name": "26/11/2024",
						"type": "String"
					},
					{
						"name": "27/11/2024",
						"type": "String"
					},
					{
						"name": "28/11/2024",
						"type": "String"
					},
					{
						"name": "29/11/2024",
						"type": "String"
					},
					{
						"name": "30/11/2024",
						"type": "String"
					},
					{
						"name": "01/12/2024",
						"type": "String"
					},
					{
						"name": "02/12/2024",
						"type": "String"
					},
					{
						"name": "03/12/2024",
						"type": "String"
					},
					{
						"name": "04/12/2024",
						"type": "String"
					},
					{
						"name": "05/12/2024",
						"type": "String"
					},
					{
						"name": "06/12/2024",
						"type": "String"
					},
					{
						"name": "07/12/2024",
						"type": "String"
					},
					{
						"name": "08/12/2024",
						"type": "String"
					},
					{
						"name": "09/12/2024",
						"type": "String"
					},
					{
						"name": "10/12/2024",
						"type": "String"
					},
					{
						"name": "11/12/2024",
						"type": "String"
					},
					{
						"name": "12/12/2024",
						"type": "String"
					},
					{
						"name": "13/12/2024",
						"type": "String"
					},
					{
						"name": "14/12/2024",
						"type": "String"
					},
					{
						"name": "15/12/2024",
						"type": "String"
					},
					{
						"name": "16/12/2024",
						"type": "String"
					},
					{
						"name": "17/12/2024",
						"type": "String"
					},
					{
						"name": "18/12/2024",
						"type": "String"
					},
					{
						"name": "19/12/2024",
						"type": "String"
					},
					{
						"name": "20/12/2024",
						"type": "String"
					},
					{
						"name": "21/12/2024",
						"type": "String"
					},
					{
						"name": "22/12/2024",
						"type": "String"
					},
					{
						"name": "23/12/2024",
						"type": "String"
					},
					{
						"name": "24/12/2024",
						"type": "String"
					},
					{
						"name": "25/12/2024",
						"type": "String"
					},
					{
						"name": "26/12/2024",
						"type": "String"
					},
					{
						"name": "27/12/2024",
						"type": "String"
					},
					{
						"name": "28/12/2024",
						"type": "String"
					},
					{
						"name": "29/12/2024",
						"type": "String"
					},
					{
						"name": "30/12/2024",
						"type": "String"
					},
					{
						"name": "31/12/2024",
						"type": "String"
					},
					{
						"name": "31/12/2024",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DROPBOX_API')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"endpoint": {
						"type": "string"
					}
				},
				"folder": {
					"name": "API"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@dataset().endpoint",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestService1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HTTP_DATA_CSV_GITHUB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Http_data_GitHub",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "API"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Http_data_GitHub')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ingest_Csv_From_APIs')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"csv_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "API"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().csv_name",
							"type": "Expression"
						},
						"folderPath": "_API_DATA",
						"container": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "EMPLEADO",
						"type": "String"
					},
					{
						"name": "\tSUELDO",
						"type": "String"
					},
					{
						"name": "\t\tDEPARTAMENTO",
						"type": "String"
					},
					{
						"name": "\tPROJECT_MANAGER",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json_API_Response_dropb_list_files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"json_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "API"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().json_name",
							"type": "Expression"
						},
						"folderPath": "_API_DATA",
						"container": "raw"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "GIT_CSV_LINK",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "API"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/GIT_CSV_LINK')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/XlsContainsActualInName')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FOLER_NAME": {
						"type": "String"
					},
					"FILE_NAME": {
						"type": "String"
					}
				},
				"folder": {
					"name": "AzStorage_CSV_and_AzSQL/MultipleFiles1FolderToAzSQL"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FILE_NAME",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().FOLER_NAME",
							"type": "Expression"
						},
						"container": "raw"
					},
					"sheetIndex": 0,
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "RestauranteCodigo",
						"type": "String"
					},
					{
						"name": "RestauranteCompañia",
						"type": "String"
					},
					{
						"name": "Analisis (Fechas)Dia de la semana (Nº)",
						"type": "String"
					},
					{
						"name": "RestaurantePais",
						"type": "String"
					},
					{
						"name": "Analisis (Fechas)Fecha",
						"type": "String"
					},
					{
						"name": "Canal ventaCanal venta (Natural detalle/HD)",
						"type": "String"
					},
					{
						"name": "Venta__Neta___Real_",
						"type": "String"
					},
					{
						"name": "SumNº_Tickets",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dynamicLastYearExcelNameSQLtoEXCEL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sheet_name": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "BUCLE FOR"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "@dataset().sheet_name",
						"type": "Expression"
					},
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": "VENTAS_PASADAS",
						"container": "raw"
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureFunction1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('AzureFunction1_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('AzureFunction1_functionKey')]"
					},
					"authentication": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GIT_CSV_LINK')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('GIT_CSV_LINK_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Http_data_GitHub')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('Http_data_GitHub_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('RestService1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('RestService1_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adftest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-6141914541424251.11.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "akvtest",
							"type": "LinkedServiceReference"
						},
						"secretName": "TokenAdfCsr96Braveant",
						"secretVersion": "ab146db71438497aaa3d0a044c3f1ddd"
					},
					"existingClusterId": "[parameters('adftest_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/akvtest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/akvtest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('akvtest_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "API - BEARER - DATA",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/raw/blobs/VENTAS_PASADAS",
					"blobPathEndsWith": "xlsx",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('trigger1_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/API - BEARER - DATA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger_by_blow_raw_VENTAS_PASADAS')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/raw/blobs/VENTAS_PASADAS",
					"blobPathEndsWith": ".xlsx",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('trigger_by_blow_raw_VENTAS_PASADAS_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		}
	]
}